body {
    background-color: #0d238f;
}

* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-size: 36px;
}



.headingmain {
    background-color: #363636;
    color: white;
    font-size: 48px;
}

.paragraphmain {
    background-color: #878787;
    color: white;
    font-size: 36px;
}

.homepagetop {
    background-color: #878787;
}

.homepage {
    background-color: #0d238f;
}


.burgerlink {
    background-color: #a67529;
}

.burgerhome {
    background-color: #dba85a;
    font-weight: 900;
}


.burgerhomeimage {
    width: 500px;
    height: auto;
}



.cookieshome {
    background-color: #4d320a;
    font-weight: 900;
}

.cookieshomeimage {
    width: auto;
    height: 500px;
}

.cookielink {
    background-color: #211401;
}



.shakehome {
    background-color: #e6cfae;
    font-weight: 900;
}

.shakehomeimage {
    height: 500px;
    width: auto;
}

.shakelink {
    background-color: #bd9c6f;
}